html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #Ffffff  fixed;
  color: #555;}

p
{ padding: 0 0 20px 0;
  line-height: 1.5em;
  font-size: 107%;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 250% 'Yanone Kaffeesatz', arial, sans-serif;
  color: #444;
  margin: 0 0 15px 0;
  padding: 5px 0 5px 0;}

h2
{ font: normal 170% 'Yanone Kaffeesatz', arial, sans-serif;
  color: #F14E23;  
  margin: 0;
  padding: 0 0 8px 0;}

h3
{ font-size: 200%;
  margin: 0 0 9px 0;
  color: #444;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 100% arial, sans-serif;
  color: #F14E23;
  line-height: 1em;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #888;
  padding-bottom: 15px;}

h6
{ color: #362C20;}

a, a:hover
{ outline: none;
  text-decoration: none;
  color: #35BDF5;}

a:hover
{ text-decoration: underline;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 0 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 950px;
  margin: 20px auto;}

#header
{ width: 952px;
  height: 145px;}

#logo
{ width: 950px;
  float: left;
  height: 100px;
  background: transparent;
  padding: 0 0 0px 10px;}

#logo h1
{ font: normal 350% 'Yanone Kaffeesatz', arial, sans-serif;
  padding: 5px 0 0 17px;
  color: #555;
  float: left;}

#logo h1 a
{ color: #35BDF5;
  text-decoration: none;}

#logo h1 a:hover
{ color: #555;
  text-decoration: none;}

.slogan
{ float: center; 
  padding-right: 25px;
  text-align: center; 
  font: 500% 'tangerine', arial; 
  color: #111;}

#menubar
{ height: 46px;
  width: 800px;
  margin: 0px auto -1px auto;
  float: center;
  padding: 0px 0 0 0;} 

ul#menu
{ float: auto;}

#tt-menu
{
    height: 50px;
}

ul#menu li
{ float: center;
  padding: 0 0 0px 0px;
  list-style: none;
  margin: 2px 0 0 0;
  background: transparent;}

ul#menu li a
{ font: normal 170% 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
  color: #444;
  display: block; 
  float: left; 
  height: 20px;
  padding: 7px 23px 15px 23px;
  text-align: center;} 

ul#menu li.current a
{ height: 20px;
  padding: 6px 22px 15px 22px;}

ul#menu li.current a
{ background: #fff;
  border: 0px solid #ddd;
  border-bottom: 0;
  color: #F14E23;}

ul#menu li a:hover
{
    /*color: #F14E23;*/
    background: #C8C8C8/*#CFDEFF*/;
    }


#site_content
{ width: 950px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 0;
  background: #fff;
  border: 1px solid #E7E7E7;} 


#about
{ text-align: left;
  width: 900px;
  padding: 0px 0 5px 25px;
  margin: 0;}

#about ul
{ margin: 2px 0 22px 0px;}

#about ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#content
{ text-align: center;
  width: 900px;
  padding: 25px 0 5px 25px;
  margin: 0;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
		}

.fancybox-thumbs img {
	height: 150px;
	/*width: 950px;*/
}

#footer
{ clear: both;
  width: 100%;
  font: normal 150% 'yanone kaffeesatz',  arial, sans-serif;
  height: 85px;
  padding: 20px 0 5px 0;
  text-align: center; 
  color: #555;
  background: transparent;
  margin-bottom: 20px;}

#footer p
{ padding: 0 0 10px 0;}

#footer a, #footer a:hover
{ color: #555;
  text-decoration: none;}

#footer a:hover
{ color: #35BDF5;
  text-decoration: none;}

.gallery img
{ position:absolute;}

.form_settings
{ margin: 5px 0 0 0;}

.form_settings p
{ padding: 0 0 10px 0;}

.form_settings span
{ padding: 5px 0; 
  float: left; 
  width: 170px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ width: 252px; 
  font: 100% 'trebuchet ms', arial;
  border: 0;
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #fff;
  color: #FFF;}
  
.form_settings .submit
{ border: 0; 
  width: auto;
  margin: 0 0 0 200px; 
  cursor: pointer; 
  color: #35BDF5;
  border: 1px solid #ddd;
  padding: 5px 15px;
  background: #fff;
  font: normal 140% 'Yanone Kaffeesatz', sans-serif;}

.form_settings textarea, .form_settings select
{ font: 100% 'trebuchet ms', arial; 
  border: 1px solid #eee;
  padding: 5px 10px;
  background: #fff;
  width: 252px;
  overflow: auto;}

.form_settings select
{ width: 274px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.search
{ color: #666;
  border: 1px solid #eee;
  margin: 0;
  padding: 10px 5px;
  width: 189px;
  color: #F14E23;}
  
.subscribe
{ color: #35BDF5;
  border: 1px solid #ddd;
  padding: 5px 10px;
  background: #fff;
  float: right;
  cursor: pointer;
  margin: 0;
  font: normal 140% 'Yanone Kaffeesatz', sans-serif;}
 
 
.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
		}
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #F5F5F5;
  color: #111;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #FBFBFB;
  color: #111;
  border-top: 1px solid #FFF;}
  
  /*TIMM ADDED FOR SUPERFISH MENU*/
  
  /*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;}
	
.sf-menu li {
	position: relative;
	list-style: none;}
	
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;}

.sf-menu > li {
	float: left;}
	
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;}

.sf-menu a {
	display: block;
	position: relative;
	font: normal 170% 'Yanone Kaffeesatz', sans-serif;
	text-decoration: none;
	color: #444;
	display: block; 
	float: left; 
	height: 20px;
	padding: 7px 23px 15px 23px;
	text-align: center;}

.sf-menu ul ul {
	top: 0;
	left: 100%;}

.sf-menu {
	float: center;
	margin-bottom: 1em;
	position: relative;
	left: 15%;}
	
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */}

.sf-menu a {
	border-left: 1px solid #fff;
	/*border-top: 1px solid #C8C8C8; fallback colour must use full shorthand */
	border-top: 1px solid rgba(255,255,255,.5);
	padding: .75em 0.5em 1.15em 0.5em;
	text-decoration: none;
	zoom: 1; /* IE7 */}

.sf-menu a {
	color: #444 /*#13a*/;
	/*padding: 30px;*/}

.sf-menu li {
	background: #FFF /*#BDD2FF*/;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;}

.sf-menu ul li {
	background: #FFF /*AABDE6*/;}

.sf-menu li a:active {
	color: #F14E23;}

.sf-menu li.current a {
	background-color: #fff;
	border: 0px solid #ddd;
	border-bottom: 0;
	color: #F14E23;}

.sf-menu ul ul li {
	background: #9AAEDB;}

.superfish-inner ul {
	position:relative;
	left:-100%;}

.sf-menu a:hover,
.sf-menu a.sfHover {
	background: #FFF /*#C8C8C8 #CFDEFF*/;
	color: #F14E23;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */}

.sf-with-ul a:hover {
	background: #C8C8C8/*#CFDEFF*/;
	-webkit-transition: none;
	transition: none;}

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	/*content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	/*border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	/*border-top-color: rgba(255,255,255,.5);*/}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */}

/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
	background: #C8C8C8/*#CFDEFF*/;}

 /*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar {
	background: #BDD2FF;
	position: relative;
	margin-bottom: 5em;
}
/* provide background colour for submenu strip */
/* you should just set the menu's container bg colour rather than use pseudo-elements */
.sf-navbar:before {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	background-color: #BDD2FF;
	height: 200%;
	width: 100%;
}
.sf-navbar ul {
	box-shadow: none;
}
.sf-navbar li {
	background: #AABDE6;
	position: static;
}
.sf-navbar > li > a,
.sf-navbar > li > ul > li > a {
	border: none;
}
.sf-navbar > li > ul {
	min-width: 36em; /* set this to whatever suits your design */
}
.sf-navbar ul li {
	background: #BDD2FF;
	position: relative;
}
.sf-navbar ul ul {
	left: 0;
	top: 100%;
}
.sf-navbar ul ul li {
	width: 100%;
}
.sf-navbar > li > ul > li {
	float: left;
}
.sf-navbar li.current {
	background: #BDD2FF;
}
.sf-navbar li:hover,
.sf-navbar li.sfHover,
.sf-navbar ul li.current {
	background: #BDD2FF;
}
.sf-navbar ul li:hover,
.sf-navbar ul li.sfHover,
.sf-navbar ul ul li {
	background: #D1DFFF;
}
.sf-navbar ul ul li:hover,
.sf-navbar ul ul li.sfHover,
.sf-navbar ul ul li.current {
	background: #E6EEFF;
}
.sf-navbar ul li.current > a {
	font-weight: bold;
}

/*** point all arrows down ***/
.sf-arrows.sf-navbar ul .sf-with-ul:after {
	margin-top: -3px;
	margin-right: 0;
	border-color: transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}

.sf-arrows.sf-navbar ul > li > .sf-with-ul:focus:after,
.sf-arrows.sf-navbar ul > li:hover > .sf-with-ul:after,
.sf-arrows.sf-navbar ul > .sfHover > .sf-with-ul:after {
	border-color: transparent;
	border-top-color: white;
}

/* adding sf-vertical class in addition to sf-menu creates a vertical menu */
/* eg. <ul class="sf-menu sf-vertical"> ... */
.sf-vertical {
  width: 12em;
  /* If you want the width of the closed menu to expand to its
  widest top-level menu item (like its "Supersubs" submenus do),
  replace the width rule above with the following two rules. */

  /*
  min-width: 12em;
  *width: 12em;
  */
}
.sf-vertical ul {
	left:	100%;
	top: 0;
}
.sf-vertical > li {
  float: none;
}
.sf-vertical li {
  width: 100%;
}

/*** alter arrow directions ***/
.sf-vertical.sf-arrows > li > .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255,255,255,.5);
}

.sf-vertical.sf-arrows li > .sf-with-ul:focus:after,
.sf-vertical.sf-arrows li:hover > .sf-with-ul:after,
.sf-vertical.sf-arrows .sfHover > .sf-with-ul:after {
  border-left-color: white;
  }
 
  